{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Detail View{% endblock %}

{% block body %}
    {{ object.title}}
    <br>
    {{ object.description }}
    <br>
    {% if object.image %}
        <img src="{{ object.image.url }}" class="img-fluid" style="display: block; margin-left: auto; margin-right: auto;" alt="Detail Image">
        <button onclick="history.back()" class="btn btn-success" style="display: block; margin: 10px auto;">Go Back</button>
    {% endif %}
{% endblock %}