{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <button class="btn btn-primary" onclick="location.href='{% url 'feed:form' %}'" style='margin: 10px;'>Post Image</button>
    <hr>
    {% for post in posts %}
        <h1>{{post.title}}</h1>
        <p>{{post.description}}</p>
        {% if post.image %}
            {% thumbnail post.image "200x200" crop="center" as im %}
                <a href="{% url 'feed:detail' post.id %}" style='display: inline-block;''>
                    <img src="{{ im.url }}" alt="{{ post.title }}" width="{{ im.width }}" height="{{ im.height }}">
                </a>
                <!-- <a href="/detail/{{post.id}}/">See Details</a> -->
            {% endthumbnail %}
        {% endif %}
        <hr>
    {% endfor %} 
{% endblock %}